<div class="control-panel">
  <div class="button-panel">
    <button mat-raised-button color="primary" type="button" (click)="getStatusTypes()" matTooltip="Refresh the statusTypes">Refresh</button>
    <button mat-raised-button color="primary" type="button" (click)="enableAddMode()" *ngIf="!selected" matTooltip="Add a new statusType">Add</button>
  </div>
</div>
<div class="content-container">
  <div class="list-container">
    <div *ngIf="statusTypes">
      <mat-spinner *ngIf="loading;else statusTypeList" mode="indeterminate" color="accent"></mat-spinner>
      <ng-template #statusTypeList>
        <app-status-type-list [statusTypes]="statusTypes" [selectedStatusType]="selected" (deleted)="delete($event)" (selected)="select($event)"></app-status-type-list>
      </ng-template>
    </div>
  </div>
  <div class="detail-container">
    <app-status-type-detail *ngIf="selected" [statusType]="selected" (unselect)="close()" (add)="add($event)" (update)="update($event)">
    </app-status-type-detail>
  </div>
</div>
