<div class="control-panel">
  <div class="button-panel">
    <button mat-raised-button color="primary" type="button" (click)="getKpis()" matTooltip="Refresh the kpis">Refresh</button>
    <button mat-raised-button color="primary" type="button" (click)="enableAddMode()" *ngIf="!selected" matTooltip="Add a new kpi">Add</button>
  </div>
</div>
<div class="content-container">
  <div class="list-container">
    <div *ngIf="kpis">
      <mat-spinner *ngIf="loading;else kpiList" mode="indeterminate" color="accent"></mat-spinner>
      <ng-template #kpiList>
        <app-kpi-list [kpis]="kpis" [selectedKpi]="selected" (deleted)="delete($event)" (selected)="select($event)"></app-kpi-list>
      </ng-template>
    </div>
  </div>
  <div class="detail-container">
    <app-kpi-detail *ngIf="selected" [kpi]="selected" (unselect)="close()" (add)="add($event)" (update)="update($event)">
    </app-kpi-detail>
  </div>
</div>
