<mat-card>
  <mat-card-header>
    <mat-card-title>Goal Details</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="saveGoal(form)">
      <div class="editfields">
        <div [hidden]="addMode">
          <mat-form-field>
            <input matInput formControlName="id" placeholder="id" #id readonly>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput formControlName="finalScore" placeholder="final score" #name (keyup.esc)="close()" (keyup.enter)="saveGoal(form)">
          </mat-form-field>
        </div>
        
      </div>
      <button mat-raised-button color="accent" type="button" (click)="close()" matTooltip="Cancel all changes">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.pristine || form.invalid" matTooltip="Save all changes">Save</button>
    </form>
  </mat-card-content>
</mat-card>
