<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>
      <a class="ng-title-icon" href="http://angular.io" target="_blank">
        <i></i>
      </a>
      <span class="title">{{labTitle}}</span>
      <span></span>
      <a mat-button [routerLink]="['/Periods']" routerLinkActive="router-link-active">
        <span>Periods</span>
      </a>
      <a mat-button [routerLink]="['/Goals']" routerLinkActive="router-link-active">
        <span>Goals</span>
      </a>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="row-commands">
    <div class="footer-container">
      <span class="spacer">{{labState}}</span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
