<mat-card>
  <mat-card-header>
    <mat-card-title>QuarterTypes</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul class="quarterTypes">
      <li *ngFor="let quarterType of quarterTypes; trackBy: byId" class="item-container">
        <button mat-button mat-suffix mat-icon-button color="accent" class="delete-button" aria-label="Delete" (click)="deleteQuarterType(quarterType)"
          matTooltip="Delete the quarterType">
          <mat-icon>delete</mat-icon>
        </button>
        <div class="selectable-item" [class.selected]="quarterType === selectedQuarterType" (click)="select(quarterType)">
          <div class="badge">{{quarterType.id}}</div>
          <div class="item-text">
            <div class="name">{{quarterType.description}}</div>
          </div>
        </div>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
