<mat-card>
  <mat-card-header>
    <mat-card-title>Status Types</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul class="statusTypes">
      <li *ngFor="let statusType of statusTypes; trackBy: byId" class="item-container">
        <button mat-button mat-suffix mat-icon-button color="accent" class="delete-button" aria-label="Delete" (click)="deleteStatusType(statusType)"
          matTooltip="Delete the statusType">
          <mat-icon>delete</mat-icon>
        </button>
        <div class="selectable-item" [class.selected]="statusType === selectedStatusType" (click)="select(statusType)">
          <div class="badge">{{statusType.id}}</div>
          <div class="item-text">
            <div class="name">{{statusType.description}}</div>
          </div>
        </div>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
