<div class="control-panel">
  <div class="button-panel">
    <button mat-raised-button color="primary" type="button" (click)="getCoreBehaviourTypes()" matTooltip="Refresh the coreBehaviourTypes">Refresh</button>
    <button mat-raised-button color="primary" type="button" (click)="enableAddMode()" *ngIf="!selected" matTooltip="Add a new coreBehaviourType">Add</button>
  </div>
</div>
<div class="content-container">
  <div class="list-container">
    <div *ngIf="coreBehaviourTypes">
      <mat-spinner *ngIf="loading;else coreBehaviourTypeList" mode="indeterminate" color="accent"></mat-spinner>
      <ng-template #coreBehaviourTypeList>
        <app-core-behaviour-type-list [coreBehaviourTypes]="coreBehaviourTypes" [selectedCoreBehaviourType]="selected" (deleted)="delete($event)" (selected)="select($event)"></app-core-behaviour-type-list>
      </ng-template>
    </div>
  </div>
  <div class="detail-container">
    <app-core-behaviour-type-detail *ngIf="selected" [coreBehaviourType]="selected" (unselect)="close()" (add)="add($event)" (update)="update($event)">
    </app-core-behaviour-type-detail>
  </div>
</div>
